# Boring file regexps:

### compiler and interpreter intermediate files
# haskell (ghc) interfaces
*.hi
*.hi-boot
*.o-boot
# object files
*.o
*.o.cmd
# profiling haskell
*.p_hi
*.p_o
# haskell program coverage resp. profiling info
*.tix
*.prof
# fortran module files
*.mod
# linux kernel
*.ko.cmd
*.mod.c
# *.ko files aren't boring by default because they might
# be Korean translations rather than kernel modules
# \.ko$
# python, emacs, java byte code
*.pyc
*.pyo
*.elc
*.class
# objects and libraries; lo and la are libtool things
*.obj
*.a
*.exe
*.so
*.lo
*.la
# compiled zsh configuration files
*.zwc
# Common LISP output files for CLISP and CMUCL
*.fas
*.fasl
*.sparcf
*.x86f

### build and packaging systems
# cabal intermediates
*.installed-pkg-config*
*.setup-config*
# standard cabal build dir, might not be boring for everybody
# ^dist(/|$)
# autotools
autom4te.cache
config.log
config.status
# microsoft web expression, visual studio metadata directories
*_vti_cnf
*_vti_pvt
# gentoo tools
*.revdep-rebuild.*
# generated dependencies
.depend

### version control systems
# cvs
CVS/
.cvsignore
# cvs, emacs locks
.#
# rcs
RCS/
*,v
# subversion
*.svn
# mercurial
*.hg
# bzr
*.bzr
# sccs
SCCS/
# darcs
_darcs/
*.darcsrepo/
.darcs-temp-mail
*.swp
*.swo

### miscellaneous
# backup files
*~
*.bak
*.BAK
# patch originals and rejects
*.orig
*.rej
# X server
.serverauth.*
# image spam
Thumbs.db
# vi, emacs tags
tags/
TAGS/
#(^|/)\.[^/]
# core dumps
*.core
# partial broken files (KIO copy operations)
*.part
# mac os finder
*.DS_Store

# Erlang
*.dump
*.beam

#fibon-benchmarks
dist/
repa-bot/
repa-examples/

Repa/Blur/Blur
Repa/Blur/out.bmp
Repa/Canny/Canny
Repa/Canny/out.bmp
Repa/FFT3d/FFT3d
Repa/FFT3d/output000.bmp
Repa/FFT3d/output001.bmp
Repa/FFT3d/output002.bmp
Repa/FFT3d/output003.bmp
Repa/FFT3d/output004.bmp
Repa/FFT3d/output005.bmp
Repa/FFT3d/output006.bmp
Repa/FFT3d/output007.bmp
Repa/FFT3d/output008.bmp
Repa/FFT3d/output009.bmp
Repa/FFT3d/output010.bmp
Repa/FFT3d/output011.bmp
Repa/FFT3d/output012.bmp
Repa/FFT3d/output013.bmp
Repa/FFT3d/output014.bmp
Repa/FFT3d/output015.bmp
Repa/FFT3d/output016.bmp
Repa/FFT3d/output017.bmp
Repa/FFT3d/output018.bmp
Repa/FFT3d/output019.bmp
Repa/FFT3d/output020.bmp
Repa/FFT3d/output021.bmp
Repa/FFT3d/output022.bmp
Repa/FFT3d/output023.bmp
Repa/FFT3d/output024.bmp
Repa/FFT3d/output025.bmp
Repa/FFT3d/output026.bmp
Repa/FFT3d/output027.bmp
Repa/FFT3d/output028.bmp
Repa/FFT3d/output029.bmp
Repa/FFT3d/output030.bmp
Repa/FFT3d/output031.bmp
Repa/FFT3d/output032.bmp
Repa/FFT3d/output033.bmp
Repa/FFT3d/output034.bmp
Repa/FFT3d/output035.bmp
Repa/FFT3d/output036.bmp
Repa/FFT3d/output037.bmp
Repa/FFT3d/output038.bmp
Repa/FFT3d/output039.bmp
Repa/FFT3d/output040.bmp
Repa/FFT3d/output041.bmp
Repa/FFT3d/output042.bmp
Repa/FFT3d/output043.bmp
Repa/FFT3d/output044.bmp
Repa/FFT3d/output045.bmp
Repa/FFT3d/output046.bmp
Repa/FFT3d/output047.bmp
Repa/FFT3d/output048.bmp
Repa/FFT3d/output049.bmp
Repa/FFT3d/output050.bmp
Repa/FFT3d/output051.bmp
Repa/FFT3d/output052.bmp
Repa/FFT3d/output053.bmp
Repa/FFT3d/output054.bmp
Repa/FFT3d/output055.bmp
Repa/FFT3d/output056.bmp
Repa/FFT3d/output057.bmp
Repa/FFT3d/output058.bmp
Repa/FFT3d/output059.bmp
Repa/FFT3d/output060.bmp
Repa/FFT3d/output061.bmp
Repa/FFT3d/output062.bmp
Repa/FFT3d/output063.bmp
Repa/FFT3d/output064.bmp
Repa/FFT3d/output065.bmp
Repa/FFT3d/output066.bmp
Repa/FFT3d/output067.bmp
Repa/FFT3d/output068.bmp
Repa/FFT3d/output069.bmp
Repa/FFT3d/output070.bmp
Repa/FFT3d/output071.bmp
Repa/FFT3d/output072.bmp
Repa/FFT3d/output073.bmp
Repa/FFT3d/output074.bmp
Repa/FFT3d/output075.bmp
Repa/FFT3d/output076.bmp
Repa/FFT3d/output077.bmp
Repa/FFT3d/output078.bmp
Repa/FFT3d/output079.bmp
Repa/FFT3d/output080.bmp
Repa/FFT3d/output081.bmp
Repa/FFT3d/output082.bmp
Repa/FFT3d/output083.bmp
Repa/FFT3d/output084.bmp
Repa/FFT3d/output085.bmp
Repa/FFT3d/output086.bmp
Repa/FFT3d/output087.bmp
Repa/FFT3d/output088.bmp
Repa/FFT3d/output089.bmp
Repa/FFT3d/output090.bmp
Repa/FFT3d/output091.bmp
Repa/FFT3d/output092.bmp
Repa/FFT3d/output093.bmp
Repa/FFT3d/output094.bmp
Repa/FFT3d/output095.bmp
Repa/FFT3d/output096.bmp
Repa/FFT3d/output097.bmp
Repa/FFT3d/output098.bmp
Repa/FFT3d/output099.bmp
Repa/FFT3d/output100.bmp
Repa/FFT3d/output101.bmp
Repa/FFT3d/output102.bmp
Repa/FFT3d/output103.bmp
Repa/FFT3d/output104.bmp
Repa/FFT3d/output105.bmp
Repa/FFT3d/output106.bmp
Repa/FFT3d/output107.bmp
Repa/FFT3d/output108.bmp
Repa/FFT3d/output109.bmp
Repa/FFT3d/output110.bmp
Repa/FFT3d/output111.bmp
Repa/FFT3d/output112.bmp
Repa/FFT3d/output113.bmp
Repa/FFT3d/output114.bmp
Repa/FFT3d/output115.bmp
Repa/FFT3d/output116.bmp
Repa/FFT3d/output117.bmp
Repa/FFT3d/output118.bmp
Repa/FFT3d/output119.bmp
Repa/FFT3d/output120.bmp
Repa/FFT3d/output121.bmp
Repa/FFT3d/output122.bmp
Repa/FFT3d/output123.bmp
Repa/FFT3d/output124.bmp
Repa/FFT3d/output125.bmp
Repa/FFT3d/output126.bmp
Repa/FFT3d/output127.bmp
Repa/FFTHighPass2d/FFTHighPass2d
Repa/FFTHighPass2d/out.bmp
Repa/Laplace/Laplace
Repa/Laplace/laplace.bmp
Repa/MMult/MMult
Repa/Sobel/Sobel
Repa/Sobel/out.bmp
Repa/Volume/Volume
Repa/Volume/out.bmp
Repa/Volume/out.w16

Shootout/BinaryTrees/BinaryTrees
Shootout/ChameneosRedux/ChameneosRedux
Shootout/Fannkuch/Fannkuch
Shootout/Mandelbrot/Mandelbrot
Shootout/Nbody/Nbody
Shootout/Pidigits/Pidigits
Shootout/SpectralNorm/SpectralNorm

Hackage/Agum/Agum
Hackage/Bzlib/Bzlib
Hackage/Bzlib/Codec/Compression/BZip/Stream.hs
Hackage/Bzlib/Codec/Compression/BZip/Stream_hsc.c
Hackage/Bzlib/mito.aa.bz2.roundtrip
Hackage/Cpsa/Cpsa
Hackage/Crypto/Crypto
Hackage/Fgl/Fgl
Hackage/Fst/Fst
Hackage/Funsat/Funsat
Hackage/Gf/BeschFre.gfo
Hackage/Gf/Cat.gfo
Hackage/Gf/CatEng.gfo
Hackage/Gf/CatFre.gfo
Hackage/Gf/CatRomance.gfo
Hackage/Gf/Common.gfo
Hackage/Gf/CommonRomance.gfo
Hackage/Gf/CommonX.gfo
Hackage/Gf/DiffFre.gfo
Hackage/Gf/DiffRomance.gfo
Hackage/Gf/Eng.gfo
Hackage/Gf/EngDescr.gfo
Hackage/Gf/EngReal.gfo
Hackage/Gf/Fre.gfo
Hackage/Gf/Fre.hs
Hackage/Gf/Fre.pgf
Hackage/Gf/FreDescr.gfo
Hackage/Gf/FreReal.gfo
Hackage/Gf/Gf
Hackage/Gf/IrregEng.gfo
Hackage/Gf/IrregEngAbs.gfo
Hackage/Gf/IrregFre.gfo
Hackage/Gf/IrregFreAbs.gfo
Hackage/Gf/MorphoEng.gfo
Hackage/Gf/MorphoFre.gfo
Hackage/Gf/ParadigmsEng.gfo
Hackage/Gf/ParamX.gfo
Hackage/Gf/PhonoFre.gfo
Hackage/Gf/Predef.gfo
Hackage/Gf/Prelude.gfo
Hackage/Gf/ResEng.gfo
Hackage/Gf/ResFre.gfo
Hackage/Gf/ResRomance.gfo
Hackage/Gf/src/compiler/GF/Grammar/Lexer.hs
Hackage/Gf/src/compiler/GF/Grammar/Parser.hs
Hackage/HaLeX/HaLeX
Hackage/Happy/Bio.hs
Hackage/Happy/ErlParser.hs
Hackage/Happy/Happy
Hackage/Happy/HaskellParser.hs
Hackage/Happy/TestInput.hs
Hackage/Hgalib/Hgalib
Hackage/Palindromes/Palindromes
Hackage/Pappy/Pappy
Hackage/QuickCheck/QuickCheck
Hackage/Regex/Regex
Hackage/Simgi/Simgi
Hackage/Simgi/mersenne-random-pure64/System/Random/Mersenne/Pure64/Base.hs
Hackage/Simgi/mersenne-random-pure64/System/Random/Mersenne/Pure64/Base_hsc.c
Hackage/Simgi/oregonator_output.dat
Hackage/TernaryTrees/TernaryTrees
Hackage/TernaryTrees/olivertwist.txt.bin
Hackage/Xsact/Xsact

