Shootout/BinaryTrees/BinaryTrees
Shootout/ChameneosRedux/ChameneosRedux
Shootout/Fannkuch/Fannkuch
Shootout/Mandelbrot/Mandelbrot
Shootout/Nbody/Nbody
Shootout/Pidigits/Pidigits
Shootout/SpectralNorm/SpectralNorm
